.instruction::-webkit-scrollbar {
    width: 5px;
}
   
.instruction::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.instruction::-webkit-scrollbar-thumb {
    background-color: #747474;
    outline: 1px solid #747474;
}

body {
    margin: 0;
    padding: 0;
    width: 100vmin;
    height: 100vh;
    text-align: center;
    font-family: 'noto';
    background-color: #60A478;
    overflow: hidden;
    position: fixed;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.start, .game, .howToPlay, .final{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    text-align: center;
    min-height: 100vh;
}

.howToPlay{
    background-color: #E7F7F5;
}

.start{
    background-color: #60A478;
}
.final{
    position: absolute;
    align-items: center;
    z-index: 10;
}

.game{
    position: absolute;
    align-items: center;
    background-color: #E0F0C0;
}

.game-title{
    margin-top: 10%;
    align-self: center;
    width: 40%;
}

.title{
    width: 100%;
    box-sizing: content-box;
}

.preview{
    width: 99%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
  }
  
.startButton, .startGame, .nextButton{
    width: 100%;
    position: relative;
    align-self: center;
    background-color: #2A2C5C;
    border: 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    padding: 5% 5%;
    margin-bottom: 10%;
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.startGame {
    margin-top: 40px;
}

.startButton p, .startGame p, .nextButton p {
    margin: 3%;
    margin-right: 6%;
}

.words{
    font-size: 20px;
    width: 100%;
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 600;
}
    
.arrowHead{
    margin-left: 10px;
    max-width: 35px;
}

.hide{
    display: none;
    visibility: hidden;
}

.instruction{
    border: 2px solid #747474;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding:0 20px;
    box-sizing: border-box;
    font-size: 19px;
    text-align: left;
    max-height: 50vh;
    overflow-y: scroll;
}
h1{
    font-size: 26px;
    color: #474747;
    margin-top: 30px;
}
  
.image{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.con{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
	padding: 10px;
    margin-top: 10%;
    z-index: 3;
    font-weight: 900;
}

.con p{
    margin: 5% auto;
    font-size: 20px;
}

.top{
	position: relative;
	display: flex;
	background-color: #2A2C5C;
	border-radius: 20px;
	font-size: 20px;
	width: 100%;
	height: 30px !important;
	padding: 2.5%;
}

.cover{
    padding: 9% 1%;
    margin: 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.cover img{
    width: 50%;
    height: auto;
}

.time{
	position: absolute;
    top: -20%;
    right: 40%;
    background-color: white;
    border-radius: 10px;
    height: 140%;
    width: 20%;
    display: flex;
    z-index: 5;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

hr{
    width: 90%;
    background-color: #474747;
    border: 2px solid #474747;
    margin-bottom: 0%;
}

.example{
    display: flex;
    flex-direction: row;
}

.match{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,47%);
    grid-template-rows: repeat(2,45%);
    align-content: center;
    gap: 2.5%;
    margin: 0;
}

.tip{
    position: relative;
    width: 50%;
    padding: 2% 2%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}
.tip img{
    width: 40%;
    height: auto;
}
.tip p{
    color: black;
    font-size: 9px;
    margin: 0;
}

.show{
    width: 60%;
    align-self: center;
    background-color: black;
    border: 0px;
    text-decoration: none;
    border-radius: 10px;
    padding: 5% 5%;
    margin-top: 5%;
    color: white;
    font-weight: 700;
    font-size: 10px;
}

.name{
    font-weight: 900;
    position: absolute;
    top: 35%;
}

.smaller{
    padding: 20% 1.5%;
    margin: 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.smaller img{
    width: 60%;
    height: auto;
}

.game-container {
    width: 98%;
    height: 100%;
    margin: 0;
    display: -ms-grid;
    display: grid;
    align-self: center;
    gap: 0.5%;
    grid-template-columns:repeat(2, calc(100% - 190px));
    -ms-grid-rows:calc(100% - 20px);
    justify-content: center;
    grid-template-rows:repeat(3, calc(100% - 20px));
  }
  
  .card-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
  }
  
.card-before, .card-after {
    position: absolute;
    border-radius: 10%;
    width: 90%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #F8E7D4;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: -webkit-transform 0.7s ease-out;
    transition: -webkit-transform 0.7s ease-out;
    -o-transition: transform 0.7s ease-out;
    transition: transform 0.7s ease-out;
    transition: transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.card-image {
    position: absolute;
    border-radius: 5px;
    width: auto;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: -webkit-transform 0.7s ease-out;
    transition: -webkit-transform 0.7s ease-out;
    -o-transition: transform 0.7s ease-out;
    transition: transform 0.7s ease-out;
    transition: transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
    transition: transform 0.7s ease-out, 
    -webkit-transform 0.7s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.card-logo {
    position: absolute;
    border-radius: 5px;
    width: 80%;
    height: auto;
    display: -webkit-box;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: -webkit-transform 0.7s ease-out;
    transition: -webkit-transform 0.7s ease-out;
    -o-transition: transform 0.7s ease-out;
    transition: transform 0.7s ease-out;
    transition: transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
    transition: transform 0.7s ease-out, 
    -webkit-transform 0.7s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.card-before {
    background-color: white;
}
  
.card-after {
    background-color: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
  
.card-container.flipped .card-before {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.card-container.flipped .card-after {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(0deg);
}
  
img.btn{
    width: 100%;
}

.popUp{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    gap: 5vh;
    width: 100%;
    height: 100vh;
    z-index: 9;
    top: 0;
    background-color: rgba(50, 50, 50,0.6);
}
.pop{
    background-color: white;
    width: 90%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.information{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information img{
    margin-top: 2.5%;
    width: 30%;
}
.information h1{
    font-weight: 900;
    font-size: 20px;
    margin: 0%;
}
.information p {
    text-align: center;
}

.More{
    width: 80%;
    border: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
	color: #60A478;
    padding: 2.5%;
    text-decoration: none;
}

.Moretext{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 600;
}

.More p{
	font-size: 20px;
    font-weight: 1000;
    margin: auto 1.5%;
    line-height: normal;
    text-align: left;
}

.More:hover {
    text-decoration: none;
    color: #60A478;
}

.More img {
    position: relative;
    max-width: 35px;
}

.restart{
	width: 70%;
	position: relative;
	background-color: transparent;
	border: 0px;
	color: white;
	font-size: 20px;
	margin: 0% auto;
	font-weight: 600;
}

.final-title{
	margin-top: 10%;
    align-self: center;
    width: 150px;
	margin-bottom: 0%;
  }

  .title-final{
	position: relative;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
  }

  .icon{
    width: 200px;
	height: 110px;
	margin-top: 10px;
    color: white;
  }

  .icon p{
    font-size: 40px;
    font-weight: 1000;
    margin-top: 0;
    margin-bottom: 1rem;
}

  .tick{
	width: 20% !important;
  }

  .icon img{
	width: 20%;
	position: relative;
	box-sizing: border-box;
  }

  strong{
	margin: 0%;
	color: white;
	font-size: 50px;
	font-weight: 900;
  }

  .text{
    background-color: #2A2C5C;
	width: 80%;
    height: 200px;
    margin-bottom: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: normal;
    border-radius: 10px;
    font-size: 25px;
    padding: 15px;
  }

  .text p , .text h2{
	margin: 0% 2.5%;
	color: white;
  }

  .restart img{
    position: absolute;
	width: 5%;
	top: 35%;
	left: 25%;
  }

  
  /*mobile*/
@media screen and (max-width: 767px){
    .startButton, .startGame, .nextButton {
    width: calc(100% - 80px);
    justify-content: center;
    align-items: center;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    body{
      width: 100%;
    }
    .start, .howToPlay,.game,.final{
        max-width: 400px;
        margin: 0 auto;
    }
    .con p{
        margin-top: 3%;
        margin-bottom: 0%;
    }
    .game-container{
        grid-template-columns:repeat(2, calc(100% - 220px));
        grid-template-rows:repeat(3, calc(100% - 25px));
    }
    .con{
        margin-top: 1%;
        margin-bottom: 0%;
        padding-bottom: 1%;
    }
    .start, .final, .game{
      left: 0;
      right: 0;
    }
    .instruction{
        max-height: 60vh;
    }
    .icon{
        height: 95px;
    }
    .final-title img{
        padding-bottom: 2.5%;
    }
    .icon p{
        margin-bottom: 10px;
    }
    .pop{
        max-width: 350px;
    }
    .pop img{
        max-width: 60px;
    }
    .startButton, .startGame, .nextButton{
        max-width: 250px;
    }
    .nextButton{
        margin-top: 2.5%;
        padding: 2.5% 2.5%;
    }
    .nextButton img{
        max-width: 30px;
    }
    .final-title{
        margin-top: 0%;
    }
    .restart {
        margin: 0px;
    }
    .restart p{
        margin: 15px;
    }
  }